<h1>Categorias</h1>

<hr>

<span class="col-lg-1"></span>

<div class="col-lg-10">

    <i ng-click="limpar()" class="fa fa-user-plus" style="font-size: 2em; margin-bottom: 10px;"
       typeof="button" data-toggle="modal" data-target="#modalCategoriaNovo"
       data-toggle="tooltip" title="Adicionar"></i>

    <table class="table table-striped" >
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>#</th>
        </tr>
        <tr data-ng-repeat="categoria in categorias">
            <td ng-click="seleciona(categoria)">{{categoria.idCategoria}}</td>
            <td ng-click="seleciona(categoria)">{{categoria.descricao}}</td>
            <td ng-click="seleciona(categoria)">{{categoria.preco}}</td>
            <td ng-click="seleciona(categoria)">
                <i typeof="button" data-toggle="modal" data-target="#modalCategoria" class="fa fa-pencil"
                   data-toggle="tooltip" title="Editar"></i>
            </td>
        </tr>
    </table>
</div>

<!-- Modal Novo-->
<div class="modal fade" id="modalCategoriaNovo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Categoria</h4>
            </div>
            <div class="modal-body">

                <form class="form-group" style="text-align: left" id="categoriaForm">
                    <label for="descN">Descrição</label>
                    <input id="descN" type="text" data-ng-model="categoria.descricao"
                           class="form-control" ng-required="true">

                    <label for="precoN">Preço</label>
                    <input id="precoN" type="text" data-ng-model="categoria.preco" class="form-control money2">

                    <div class="btn-group" style="margin-top: 25px; margin-left: 50%; width: 30px; left: -30px;">
                        <button data-ng-click="salvar()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<!-- Modal Editar Deletar-->
<div class="modal fade" id="modalCategoria" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Categoria</h4>
            </div>
            <div class="modal-body">

                <form class="form-group" style="text-align: left">
                    <label for="desc">Descrição</label>
                    <input id="desc" type="text" data-ng-model="categoria.descricao"
                           class="form-control" ng-required="true">

                    <label for="preco">Preço</label>
                    <input id="preco" type="text" data-ng-model="categoria.preco" class="form-control money2">

                    <div class="btn-group" style="margin-top: 25px; margin-left: 50%; width: 200px; left: -100px;">
                        <button data-ng-click="novo()" class="btn btn-primary" data-dismiss="modal">Novo</button>
                        <button data-ng-click="editar()" class="btn btn-primary" data-dismiss="modal">Salvar</button>
                        <button data-ng-click="deletar()" class="btn btn-primary" data-dismiss="modal">Deletar</button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>