<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                <h2>Locadora</h2>
            </a>
        </li>
        <li>
            <a href="#/cliente"><i class="fa fa-users" style="margin-right: 10px"></i>Clientes</a>
        </li>
        <li>
            <a href="#/categoria"><i class="fa fa-newspaper-o" style="margin-right: 10px"></i>Categorias</a>
        </li>
        <li>
            <a href="#/avaria"><i class="fa fa-university" style="margin-right: 10px"></i>Avaria</a>
        </li>
        <li>
            <a href="#">Events</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <a href="#">Services</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</div>